includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    phpVersion: 80400
    stubFiles:
        - support/stubs-events.stub
    excludePaths:
        analyseAndScan:
            - .temp/*

    paths:
        - support/src
        - data/src
        - support/tests/Fixtures/ConfigurationServiceProvider.php
        - support/tests/Fixtures/ScriptedFake.php
        - data/tests/Fixtures/DataTransformFixture.php

    level: max

    checkModelProperties: true

    tmpDir: .temp/phpstan
